@use '../custom' as *;
@use '../abstracts/mixins' as *;

.academics {
  padding: 1rem 0 2rem 0;

  &__content {
    padding: 2rem 0 3rem 0;
  }

  &__category {
    margin-bottom: 1.5rem;
  }

  &__subcategory {
  }

  &__subheading {
    font-size: 1.2rem;
    font-weight: 600;
    margin-top: 0.5rem;
  }

  &__description {
  }

  &__picture {
    img {
      object-fit: cover;
    }

    figcaption {
      text-align: center;
      text-transform: capitalize;
    }
  }
}
