@use '../custom' as *;

.footer {
  padding-top: 1rem;
  background-color: $footer;

  &__link {
    margin-bottom: 1rem;
  }
}

// Social Media
.footer-sm {
  a {
    color: $white;

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
    }
  }
}

// Footer Links
