@use '../custom' as *;

.footer {
  margin-top: 1rem;
  background-color: $gray-200;

  &__link {
    margin-bottom: 1rem;

    &:hover {
      color: $primary;
    }
  }
}

// Social Media
.footer-sm {
  background-color: $white;
  border-bottom: 1px solid $gray-400;
  a {
    color: $dark;
    transition: all 0.3s;

    &:hover {
      color: $primary;
    }

    i {
      font-size: 1rem;
      margin-left: 1rem;

      @include media-breakpoint-up(sm) {
        font-size: 1.6rem;
      }
    }
  }
}

// Footer Links
