@use '../custom' as *;
@use '../abstracts/mixins' as *;

.btn-rounded {
  position: relative;
  padding: 0.8rem 4rem 0.8rem 1.25rem;
  font-weight: 700;
  margin: 0;
  border: 0.1rem solid rgba($primary, 0.6);
  background-color: $white;
  transition: all 0.3s;

  span {
    position: absolute;
    background-color: $primary;
    width: 2.4rem;
    height: 2.4rem;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all 0.3s;

    i {
      color: $white;
      font-size: 1rem;
      line-height: 2.4rem;
    }
  }

  &:hover {
    @include gradient;
    color: $white;

    span {
      background-color: rgba($black, 0.6);
    }
  }
}
