@use '../custom' as *;

/***** GRADIENT *****/
@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}
/***** End GRADIENT *****/

/***** ABSOLUTE POSITION: CENTER *****/
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/***** End ABSOLUTE POSITION: CENTER *****/

/***** SMMOTH TRANSITION *****/
@mixin transitionProperty {
  transition-duration: 1s;
  transition-property: all;
}
/***** End SMMOTH TRANSITION *****/
