@use '../custom' as *;

// Text selection
::selection {
  background-color: rgba($primary, 0.95);
  color: $secondary;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.display-2 {
  margin-bottom: 1rem;
  text-transform: capitalize;

  &--intro {
    display: inline-block;
    font-weight: 700;
    font-size: 2.3rem;

    @include media-breakpoint-up(md) {
      font-size: 2.8rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 4rem;
    }
  }

  &--description {
    display: block;
    margin-top: 1rem;
    text-transform: none;
    font-size: 1rem;

    @include media-breakpoint-up(lg) {
      font-size: 1.4rem;
      margin-top: 1.2rem;
      display: inline-block;
    }
  }
}

/***** HEADING LINE *****/
.heading-line::before {
  content: '';
  width: 10rem;
  height: 0.2rem;
  display: block;
  background-color: $primary;
  margin: 0 auto;
}

.heading-line::after {
  content: '';
  width: 2rem;
  height: 0.2rem;
  padding-top: 0.2rem;
  display: block;
  background-color: $primary;
  margin-bottom: 1rem;
  margin: 0 auto;
}
/***** End HEADING LINE *****/

/***** DISPLAY-3 *****/
.display-3 {
  font-family: 'Inter', sans-serif;

  &--title {
    font-size: 1.4rem;
    text-transform: capitalize;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    display: inline-block;
    background-image: linear-gradient(to right, $maroon-dark, $maroon-light);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @include media-breakpoint-up(lg) {
      font-size: 1.8rem;
    }
  }
}
/***** End DISPLAY-3 *****/

/***** BORDER-RIGHT *****/
.border-right {
  border-right: 0.1rem solid $gray-400;
  height: 100%;

  @include media-breakpoint-down(md) {
    display: none;
  }
}
/***** End BORDER-RIGHT *****/

/***** GRADIENT BG *****/
.gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($secondary, 0.95)
  );
}
/***** End GRADIENT BG *****/
