@use '../custom' as *;
@use '../abstracts/mixins' as *;

:root {
  --header-height: 3rem;

  --body-color: orangered;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  --z-fixed: 9999;

  @include media-breakpoint-up(md) {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}
